recursive-include trex *.pot *.po *.svg *.png *.css *.qss *.c, *.cpp, *.html, *.java, *.md, *.R, *.csv, *.ipynb
recursive-include trex_breakpoints *.pot *.po *.svg *.png
recursive-include trex_profiler *.pot *.po *.svg *.png
recursive-include trex_pylint *.pot *.po *.svg *.png
recursive-include doc *.py *.rst *.png *.ico *.
include trex/fonts/trex.ttf
include trex/fonts/trex-charmap.json
include scripts/*
include img_src/*.ico
include img_src/trex.png
include img_src/trex3.png
include MANIFEST.in
include README.md
include LICENSE
include CHANGELOG.md
include bootstrap.py
